.small-form-field {
    padding: 5px;
    width: 33.333%;
    min-width: 250px;
}

.large-form-field {
    padding: 5px;
    width: 100%;
}

.field-title{
    padding: 10px;
    padding-bottom: 0px;
}

.small-hint{
    font-size: 12px;
}

.mdc-button {
    width:200px;
    height: 50px;
}