<mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            <h2>new requests</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
        
        <app-gnc-table *ngIf="newInquiries"
            [tableData]="newInquiries"
            [tableColumns]="tableColumns">
        </app-gnc-table>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>current clients</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-gnc-table *ngIf="acceptedInquiries"
            [tableData]="acceptedInquiries"
            [tableColumns]="tableColumns">
        </app-gnc-table>

    </mat-expansion-panel>

  </mat-accordion>